.beer-card ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  // width: 20%;
  margin-top: 5%;
  /* position: relative;*/
}
.beer-card li {
  position: absolute;
  width: 609px;
  height: 624px;
  flex-shrink: 0;
  left: 30vw;
  top: 86vw;

  /* left: 50%;
  /* margin-left: -247px;*/
  /* margin-top: 5%;*/
}

.beer-card li:nth-child(4) {
  animation: xfade 16s 0s infinite;
}
.beer-card li:nth-child(3) {
  animation: xfade 16s 4s infinite;
}
.beer-card li:nth-child(2) {
  animation: xfade 16s 8s infinite;
}
.beer-card li:nth-child(1) {
  animation: xfade 16s 12s infinite;
}

@keyframes xfade {
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}

.beer-card {
  border-radius: 96px;
  background: #101010;
  box-shadow: 0px 0px 70.7px 8px rgba(255, 255, 255, 0.19);
  margin: 96px;
  height: 630px;
}

.beer-card h3 {
  text-align: center;
  font-size: 114px;
}

.beer-card button {
  padding: 10px 14px;
  border-radius: 13px;
  border: 2px solid #ffd97c;
  background: #101010;
  color: white;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  transition-property: background color;
  transition-duration: 0.3s;
}

.beer-card button:hover {
  background: #ffd97c;
  color: black;
}

@media (max-width: 1877px) {
  .beer-card-3 img {
    position: relative;
    bottom: 12.5vw;
  }
  .beer-card-3 h3 {
    position: relative;
    top: 4vw;
    right: 18vw;
    width: 1156px;
  }

  .beer-card .beer-infos {
    position: relative;
    right: 10vw;
    top: 20vw;
  }

  .beer-card-3 .beer-infos {
    position: relative;
    right: 10vw;
    top: 13vw;
  }
  .beer-card-1 img {
    position: relative;
    bottom: 7vw;
    right: 0vw;
  }
  .beer-card button {
    position: absolute;
    left: 75vw;
    top: 117vw;
  }
}

@media (min-width: 1877px) {
  .beer-card-1 img {
    position: relative;
    bottom: 24vw;
    left: 4vw;
  }
  .beer-card-1 .beer-infos {
    position: relative;
    bottom: 5vw;
    right: 10vw;
  }
  .beer-card-3 h3 {
    position: relative;
    right: 11vw;
    bottom: 15vw;
    width: 1156px;
  }
  .beer-card-3 img {
    position: relative;
    bottom: 28.3vw;
    left: 4vw;
  }
  .beer-card-3 .beer-infos {
    position: relative;
    right: 10vw;
    bottom: 10vw;
  }
  .beer-card button {
    position: absolute;
    left: 80vw;
    top: 93vw;
  }
}
