.carousel {
  //   position: relative;
  //   overflow: hidden;
  border-radius: 96px;
  background: #101010;
  box-shadow: 0px 0px 70.7px 8px rgba(255, 255, 255, 0.19);
  margin-right: 96px;
  margin-left: 96px;
  height: 630px;
}

.carousel h3 {
  text-align: center;
  font-size: 114px;
}
