.logo {
  background-image: url(../images/brasserie.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 147px;
}

.logo img {
  width: 698px;
  margin: 374px;
}
