.media {
  display: flex;
  align-items: center;
  margin-bottom: 59px;
}

.media i {
  font-size: 62px;
  margin-right: 25px;
  margin-left: 89px;
}

.media h4 {
  font-size: 24px;
  margin-bottom: 11px;
}

.media a {
  font-size: 24px;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
