.politique {
  font-size: 24px;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}

.politique a {
  text-decoration: none;
}

.politique h4 {
  margin-bottom: 13px;
}

.politique-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.politique-2 {
  position: relative;
  bottom: 14vw;
  left: 54px;
}
