.small-card {
  border-radius: 32px;
  background: #101010;
  box-shadow: 0px 0px 70.7px 1px rgba(255, 255, 255, 0.19);
  width: 100%;
  height: 295px;
}

.small-card-title {
  font-size: 20px;
  text-align: center;
  padding-top: 17px;
}

.small-card p {
  font-family: gabriella, sans-serif;
  font-weight: 900;
  font-style: normal;
  position: relative;
  bottom: 60px;
}

.small-card-price {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.small-card-number {
  border: white 4px solid;
  border-radius: 50px;
  background-color: black;
  padding: 12px;
  position: relative;
  bottom: 90px;
  left: 30px;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  transition-property: background-color color;
  transition-duration: 0.3s;
}

.small-card-1 {
  transition-property: background;
  transition-duration: 0.3s;
}

.small-card-1:hover {
  background: #ffad24;
  .small-card-number {
    border: black 4px solid;
    background-color: white;
    color: black;
  }
}

.small-card-2 p {
  bottom: 40px;
}

.small-card-2 .small-card-number {
  bottom: 70px;
  transition-property: background-color color;
  transition-duration: 0.3s;
}

.small-card-2 {
  transition-property: background-color;
  transition-duration: 0.3s;
}

.small-card-2:hover {
  background: #ffd140;
  .small-card-number {
    background-color: white;
    color: black;
    border: black 4px solid;
  }
}

.small-card-3 p {
  bottom: 70px;
}

.small-card-3 .small-card-number {
  bottom: 100px;
  transition-property: background-color color;
  transition-duration: 0.3s;
}

.small-card-3 {
  transition-property: background-color;
  transition-duration: 0.3s;
}

.small-card-3:hover {
  background: #98da43;
  .small-card-number {
    background-color: white;
    color: black;
    border: black 4px solid;
  }
}

.small-card-4 img {
  width: 233px;
  left: 70px;
  bottom: 22px;
}

.small-card-4 p {
  bottom: 40px;
}

.small-card-4 .small-card-number {
  bottom: 70px;
  transition-property: background-color color;
  transition-duration: 0.3s;
}

.small-card-4 {
  transition-property: background-color;
  transition-duration: 0.3s;
}

.small-card-4:hover {
  background: #867459;
  .small-card-number {
    background-color: white;
    color: black;
    border: black 4px solid;
  }
}

.small-card-title-hidden {
  display: none;
  font-size: 27px;
}

.small-card-1:hover .small-card-title-hidden {
  display: block;
}

.small-card-1:hover .small-card-title-1 {
  display: none;
}

.small-card-2:hover .small-card-title-hidden {
  display: block;
}

.small-card-2:hover .small-card-title-2 {
  display: none;
}

.small-card-3:hover .small-card-title-hidden {
  display: block;
}

.small-card-3:hover .small-card-title-3 {
  display: none;
}

.small-card-4:hover .small-card-title-hidden {
  display: block;
}

.small-card-4:hover .small-card-title-4 {
  display: none;
}

.small-card img {
  position: relative;
  bottom: 50px;
}
.small-card-2 img {
  width: 233px;
  left: 70px;
  bottom: 22px;
}
.small-card-3 img {
  width: 233px;
  left: 70px;
  bottom: 50px;
}
.small-card-1:hover .small-card-price {
  position: relative;
  top: 19px;
}

.small-card-1:hover img {
  position: relative;
  bottom: 31px;
}

.small-card-2:hover img {
  position: relative;
  bottom: 32.5px;
}

.small-card-2:hover .small-card-price {
  position: relative;
  bottom: 10.5px;
}

.small-card-4:hover img {
  position: relative;
  bottom: 31.5px;
}

.small-card-4:hover .small-card-price {
  position: relative;
  bottom: 10.5px;
}

@media (max-width: 1877px) {
  .small-card-3:hover img {
    position: relative;
    bottom: 70.5px;
  }
  .small-card-3:hover .small-card-price {
    position: relative;
    bottom: 20.5px;
  }
  .small-card-4 img {
    bottom: 1.4vw;
  }
}

@media (min-width: 1877px) {
  .small-card-1 img {
    left: 2vw;
  }
  .small-card-2 img {
    left: 6.5vw;
  }
  .small-card-3 img {
    left: 6vw;
  }
  .small-card-3:hover img {
    bottom: 1.6vw;
  }
  .small-card-3:hover .small-card-price {
    position: relative;
    top: 1vw;
  }
  .small-card-4 img {
    left: 6vw;
    bottom: 1vw;
  }
  .small-card-4:hover img {
    bottom: 1.53vw;
  }
  .small-card-4:hover .small-card-price {
    position: relative;
    bottom: 0.55vw;
  }
}
