/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

nav {
  background-color: black;
  color: white;
  font-family: gabriella, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}

nav a {
  text-decoration: none;
}

h3 {
  font-family: gabriella, sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: gabriella, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 76px;
  display: flex;
  justify-content: center;
}

h4 {
  font-family: gabriella, sans-serif;
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  background: #101010;
  padding-top: 118px;
  padding-bottom: 101px;
}

footer p {
  color: rgba(255, 255, 255, 0.42);
  display: flex;
  justify-content: center;
  font-size: 24px;
}
